<header>
    <a href="/users/" class="goBack">⇦ Go to User Browser</a>
    <br>
    <a href="/users/{{id}}" class="goBack">⇦ Go to {{username}}'s profile </a>
    <h1>{{username}}'s following list</h1>
</header>
<main>
   <h4> Total: {{friends.length}} </h4>
   {{#if friends.length}}
   <ul>
       {{#each friends}}
       <hr />
       <li>
           <a href="/users/{{this._id}}"> {{this.username}} </a>
       </li>


       {{/each}}
       <hr />
   </ul>
   {{/if}}
</main>