<header>
    {{!-- <img src="{{game.imagePath}}"> --}}
    <h1>{{game.name}}</h1>
</header>
<main>

    <div class="dateReleased-div">
        <h3><span>Release Date:</h3>
        <p>{{game.dateReleased}}</p>
    </div>

    <div class="description-div">
        <h3>Description:</h3>
        {{#if game.description}}
        <p>{{game.description}}</p>
        {{else}}
        <p>No description.</p>
        {{/if}}
    </div>

    <div class="rating-div">
        <h3>Rating:</h3>
        <p>{{game.averageRating}}</p>
    </div>

    <div class="reviews-div">
        <h3>Reviews:</h3>
        {{#if game.reviews.length}}
            <div class="single-review-div">
                {{#each game.reviews}}
                    <h4>{{this.title}}</h4>
                    <p>{{this.content}}</p>
                    <p>Rating: {{this.rating}}</p>
                {{/each}}
            </div>
        {{else}}
            No reviews.
        {{/if}}
    </div>

    <div class="comments-div">
        <h3>Comments:</h3>
        {{#if game.comments.length}}
        <ul>
            {{#each game.comments}}
            <li>
                <h4>{{this.content}}</h4>
                <p>
                    {{this.time}}  -  {{this.date}}
                </p>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No comments.</p>
        {{/if}}
        <form action="/{{user._id}}/comment" method="POST"> 
            <input type="text" id="addComment" name="addComment">
            <input type="submit" value="add comment!">
        </form> 
    </div>
    <a href="/games/list">Back to games list</a>
</main>