<header>
    <h1>Game List</h1>
    <p>Click on a game to add it to your profile!</p>
  </header>
  <main>
    <div>
      <ul>
        {{#each games}}
          <li>
            <a href="/games/{{this._id}}">{{this.name}}</a><br>
            Players: {{this.numPlayers}}<br>
            Release Date: {{this.dateReleased}}<br>
            <a href="/games/{{this._id}}/form">Add to Profile</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </main>