<header>
    <!-- logo img -->
    <h1>Game Form</h1><br>
    <p>Fill out the form below to add {{game.name}} to your profile.</p>
</header>
<main>
    <!-- for each field object in form array, display with form tag -->
    {{#if game.form.length}}
        <form action="/games/{{game._id}}/form" method="POST" name = "gameForm" id = "gameForm">
            {{#each game.form}}
                <label for="form_input{{@index}}" id="label{{@index}}">
                    {{this.field}}
                    {{#if this.options.length}}
                        <!-- Drop down -->
                        <select name="form_input{{@index}}" id="form_input{{@index}}">
                            {{#each this.options}}
                                <option value="{{this}}" id = "value{{@index}}">{{this}}</option>
                            {{/each}}
                        </select>
                    {{else if this.domain.length}}
                        <input type="number" name="form_input{{@index}}" id="form_input{{@index}}"/>
                    {{else}}
                        <input type="text" name="form_input{{@index}}" id="form_input{{@index}}"/>
                    {{/if}}
                </label><br>
            {{/each}}
            <input type="submit" value="Submit Form"/>
        </form>
    {{else}}
        <p>No fields to fill out in {{game.name}}'s Add to Profile form!</p>
    {{/if}}
    <a href="/games/list">Back to games list</a>
</main>