<header>
    <a href="/home" class="goBack">⇦ Go to Home</a>
    <h1>Games List</h1>
    {{!-- <p>Click on a game to add it to your profile!</p> --}}
</header>
<main>
    {{#if user.admin}}
      <!-- links to add/delete for admin goes here -->
      <a href="/games/new">Create a Game</a>
    {{/if }}
    {{#each games}}
      <div class="game-div">
        <div class="game-title-div">
          <h2>
            <a href="/games/{{this._id}}" class="name">{{this.name}}</a>
          </h2>
        </div>
        <div class="game-info-div">
          <p><span>Number of Players:</span> {{this.numPlayers}}</p>
          <p><span>Number of Reviews:</span> {{this.reviews.length}}</p>
          <p><span>Average Rating:</span> {{this.averageRating}}</p>
          <p><span>Release Date:</span> {{this.dateReleased}}</p>
        </div>
        <div class="add-to-profile-div">
          <a href="/games/{{this._id}}/form">
            {{#if this.game_added}}
            Edit Profile
            {{else}}
            Add to Profile
            {{/if}}
          </a>
        </div>
      </div>
    {{/each}}
</main>