<header>
    <a href="/home" id="goBack">⇦ Return to home page</a>
    <h1>Games List</h1>
    {{!-- <p>Click on a game to add it to your profile!</p> --}}
</header>
<main>
    {{#each games}}
      <div class="game-div">
        <div class="game-title-div">
          <h2>
            <a href="/games/{{this._id}}" class="name">{{this.name}}</a>
          </h2>
        </div>
        <div class="game-info-div">
          <p><span>Average Rating:</span> {{this.averageRating}}</p>
          <p><span>Number of Players:</span> {{this.numPlayers}}</p>
          <p><span>Release Date:</span> {{this.dateReleased}}</p>
        </div>
        <div class="add-to-profile-div">
          <a href="/games/{{this._id}}/form">Add to Profile</a>
          <!-- link to delete game for admin goes here? -->
        </div>
      </div>
    {{/each}}
</main>