<header>
    {{!-- <img src="{{game.imagePath}}"> --}}
    <h1>{{game.name}}</h1>
</header>
<main>

    <div class="dateReleased-div">
        <h3><span>Release Date:</span></h3>
        <p>{{game.dateReleased}}</p>
    </div>

    <div class="description-div">
        <h3>Description:</h3>
        {{#if game.description}}
        <p>{{game.description}}</p>
        {{else}}
        <p>No description.</p>
        {{/if}}
    </div>

    <div class="rating-div">
        <h3>Rating:</h3>
        <p>{{game.averageRating}}</p>
    </div>

    <div>
        <h3>Reviews:</h3>
        {{#if game.reviews.length}}
            {{#each game.reviews}}
                <div class="reviewDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="reviewTitle">{{this.title}}</p>
                    <p class="reviewContent">{{this.content}}</p>
                    <p class="reviewRating">Rating: {{this.rating}}</p>
                </div>
            {{/each}}
        {{else}}
            <p>No reviews.</p>
        {{/if}}
        <form action="/games/{{game._id}}/reviews" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <input type="text" id="content" name="content">
            <label for="rating">Rating:
                <select id="rating" name="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
            <input type="submit" value="add review!">
        </form> 
    </div>

    <div>
        <h3>Comments:</h3>
        {{#if game.comments.length}}
            {{#each game.comments}}
                <div class="commentDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="dateTimeParagraph">{{this.date}} • {{this.time}}</p>
                    <p class="contentParagraph">{{this.content}}</p>
                </div>
                {{#if ../is_admin}}
                 <form action="/games/{{../game._id}}/comment/{{this._id}}" method="POST"> 
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="delete {{this.username}}'s comment">
                </form> 
                {{/if}}
            {{/each}}
        {{else}}
            <p>No comments.</p>
        {{/if}}
        <form action="games/{{game._id}}/comment" method="POST"> 
            <input type="text" id="addComment" name="addComment">
            <input type="submit" value="add comment!">
        </form> 
    </div>
    <a href="/games/">Back to games list</a>
</main>