<header>
    {{!-- <img src="{{game.imagePath}}"> --}}
    <h1>{{game.name}}</h1>
</header>
<main>

    <div class="dateReleased-div">
        <h3><span>Release Date:</span></h3>
        <p>{{game.dateReleased}}</p>
    </div>

    <div class="description-div">
        <h3>Description:</h3>
        {{#if game.description}}
        <p>{{game.description}}</p>
        {{else}}
        <p>No description.</p>
        {{/if}}
    </div>

    <div>
        <h3>Number of Reviews:</h3>
        <p>{{game.reviews.length}}</p>
    </div>

    <div class="rating-div">
        <h3>Average Rating:</h3>
        <p>{{game.averageRating}}</p>
    </div>

    <div>
        <h3>Reviews:</h3>
        {{#if game.reviews.length}}
            {{#each game.reviews}}
                <div class="reviewDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="reviewTitle">{{this.title}}</p>
                    <p class="reviewContent">{{this.content}}</p>
                    <p class="reviewRating">Rating: {{this.rating}}</p>
                </div>
                {{#if ../is_admin}}
                 <form action="/games/{{../game._id}}/reviews/{{this._id}}" method="POST"> 
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="delete {{this.username}}'s review">
                </form> 
                {{/if}}
            {{/each}}
        {{else}}
            <p>No reviews.</p>
        {{/if}}
        <h3>Add a Review:</h3>
        <p id="reviewError" {{reviewError_hidden}}>{{reviewError_message}}</p>
        <form id="reviewForm" action="/games/{{game._id}}/reviews" method="POST">
            <label for="title">Review Title:</label>
            <input type="text" id="title" name="title">
            <br><br>
            <label for="content">Review Content:</label>
            <input type="text" id="content" name="content">
            <br><br>
            <label for="rating">Rating:
                <select id="rating" name="rating" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
            <br><br>
            <input type="submit" id="reviewSubmit" name="reviewSubmit" value="add review!">
        </form> 
    </div>

    <div>
        <h3>Comments:</h3>
        {{#if game.comments.length}}
            {{#each game.comments}}
                <div class="commentDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="dateTimeParagraph">{{this.date}} • {{this.time}}</p>
                    <p class="contentParagraph">{{this.content}}</p>
                </div>
                {{#if ../is_admin}}
                 <form action="/games/{{../game._id}}/comment/{{this._id}}" method="POST"> 
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="delete {{this.username}}'s comment">
                </form> 
                {{/if}}
            {{/each}}
        {{else}}
            <p>No comments.</p>
        {{/if}}
        <p id="commentError" {{commentError_hidden}}>{{commentError_message}}</p>
        <form id="commentForm" action="{{game._id}}/comment" method="POST"> 
            <input type="text" id="comment" name="comment">
            <input type="submit" id="commentSubmit" name="commentSubmit" value="add comment!">
        </form> 
    </div>
    <a href="/games/">Back to games list</a>
</main>