<header>
    <img src="{{game.imagePath}}">
    <h1>{{game.name}}</h1>
</header>
<main>
    <div>
        <h3>Release Date:</h3><p>{{game.dateReleased}}</p><br>
        <h3>Description:</h3><p>{{game.description}}</p> <br>
        <h3>Average Rating:{{game.averageRating}}</h3>
        <!-- Reviews -->
    </div>
    <br>
    <div>
        <h3>Comments:</h3>
        {{#if game.comments.length}}
        <ul>
            {{#each game.comments}}
            <li>
                <h4>{{this.content}}</h4>
                <p>
                    {{this.timeString}}  -  {{this.dateString}}
                </p>
            </li>
            {{/each}}
        </ul>
        {{/if}}
        <form action="/{{user._id}}/comment" method="POST"> 
            <input type="text" id="addComment" name="addComment">
            <input type="submit" value="add comment!">
        </form> 
    </div>
    <a href="/games/list">Back to games list</a>
</main>