<header>
    <a href="/games/" class="goBack">⇦ Go to Games List</a>
    <h1>{{game.name}}</h1>
</header>
<main>

    <!-- ADMIN ONLY: Button to delete game from database. -->
    {{#if user.admin}}
        <div id="gameButtons">
             <form action="/games/{{game._id}}" method="POST">
            <input type="submit" id="deleteGame" name="deleteGame" value="Delete Game From Database">
            <input type="hidden" name="_method" value="DELETE">
            </form>
            <a href="/games/{{game._id}}/edit">Edit Game</a>
            <!--  <button id="editGameButton">Edit Game</button>
            Render update form on separate page?
            <form action="/games/{{game._id}}" method="POST" id="updateGameForm" hidden>
                <input type="submit" id="updateGame" name="updateGame" value="Update Game In The Database">
                <input type="hidden" name="_method" value="PATCH">
            </form> -->
        </div>
    {{/if}}
    <div class="addRemoveGame">
        {{#if user.admin}}
        <br><br>
        {{/if}}
        <div class="add-to-profile-div">
            <a href="/games/{{game._id}}/form">
              {{#if game_added}}
              Edit Profile
              {{else}}
              Add to Profile
              {{/if}}
            </a>
            {{#if game_added}}
              <form action="/games/{{game._id}}/form" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Remove Game" class="removeGame">
              </form>
            {{/if}}
          </div>
    </div>
    <!-- Release Date -->
    <div class="dateReleased-div infoDiv">
        <h3>Release Date:</h3>
        <p>{{game.dateReleased}}</p>
    </div>

    <!-- Game Description -->
    <div class="description-div infoDiv">
        <h3>Description:</h3>
        {{#if game.description}}
        <p>{{game.description}}</p>
        {{else}}
        <p>No description.</p>
        {{/if}}
    </div>

    <div class="gameQuestions">
        <h3>Game Form Questions:</h3>
        {{#each game.form}}
            <p>{{this.field}}</p>
        {{/each}}
    </div>

    <!-- Number of Players -->
    <div class="infoDiv">
        <h3>Number of Players:</h3>
        <p>{{game.numPlayers}}</p>
    </div>

    <!-- Number of Reviews -->
    <div class="infoDiv">
        <h3>Number of Reviews:</h3>
        <p>{{game.reviews.length}}</p>
    </div>

    <!-- Average Rating -->
    <div class="rating-div infoDiv">
        <h3>Average Rating:</h3>
        <p>{{game.averageRating}}</p>
    </div>

    <!-- Reviews -->
    <div>
        <h3>Reviews:</h3>
        {{#if game.reviews.length}}
            {{#each game.reviews}}
                <div class="reviewDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="reviewTitle">{{this.title}}</p>
                    <p class="reviewContent">{{this.content}}</p>
                    <p class="reviewRating">Rating: {{this.rating}}</p>
                    {{#if ../is_admin}}
                    <form action="/games/{{../game._id}}/reviews/{{this._id}}" method="POST"> 
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete {{this.username}}'s review">
                    </form>
                    {{#if (eq this.username ../user.username)}}
                    <button id="editReviewButton">Edit your review</button>
                    <form action="/games/{{../game._id}}/reviews/{{this._id}}" method="POST" id="updateReviewForm" hidden> 
                        <input type="hidden" name="_method" value="PATCH">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" value="{{this.title}}" required>
                        <br><br>
                        <label for="content">Content:</label>
                        <input type="text" id="content" name="content" value="{{this.content}}" required>
                        <br><br>
                        <label for="rating">Rating:
                            <select id="rating" name="rating" required>
                                <option label=" "></option>
                                <option value="1" {{#if (eq this.rating 1)}}selected{{/if}}>1</option>
                                <option value="2" {{#if (eq this.rating 2)}}selected{{/if}}>2</option>
                                <option value="3" {{#if (eq this.rating 3)}}selected{{/if}}>3</option>
                                <option value="4" {{#if (eq this.rating 4)}}selected{{/if}}>4</option>
                                <option value="5" {{#if (eq this.rating 5)}}selected{{/if}}>5</option>
                            </select>
                        </label>
                        <input type="submit" value="update review">
                    </form> 
                    {{/if}}
                    {{else}}

                    <!-- If the review comes from the signed-in user... -->
                    {{#if (eq this.username ../user.username)}}
                    <form action="/games/{{../game._id}}/reviews/{{this._id}}" method="POST"> 
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete your review">
                    </form> 
                    <button id="editReviewButton">Edit your review</button>
                    <form action="/games/{{../game._id}}/reviews/{{this._id}}" method="POST" id="updateReviewForm" hidden> 
                        <input type="hidden" name="_method" value="PATCH">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" value="{{this.title}}" required>
                        <br><br>
                        <label for="content">Content:</label>
                        <input type="text" id="content" name="content" value="{{this.content}}" required>
                        <br><br>
                        <label for="rating">Rating:
                            <select id="rating" name="rating" required>
                                <option label=" "></option>
                                <option value="1" {{#if (eq this.rating 1)}}selected{{/if}}>1</option>
                                <option value="2" {{#if (eq this.rating 2)}}selected{{/if}}>2</option>
                                <option value="3" {{#if (eq this.rating 3)}}selected{{/if}}>3</option>
                                <option value="4" {{#if (eq this.rating 4)}}selected{{/if}}>4</option>
                                <option value="5" {{#if (eq this.rating 5)}}selected{{/if}}>5</option>
                            </select>
                        </label>
                        <input type="submit" value="update review">
                    </form> 
                    {{/if}}
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            <p>No reviews.</p>
        {{/if}}
        {{#if not_reviewed}}
        <h3>Add a Review:</h3>
        <p id="reviewError" {{reviewError_hidden}}>{{reviewError_message}}</p>
        <form id="reviewForm" action="/games/{{game._id}}/reviews" method="POST">
            <label for="title">Review Title:</label>
            <input type="text" id="title" name="title">
            <br><br>
            <label for="content">Review Content:</label>
            <input type="text" id="content" name="content">
            <br><br>
            <label for="rating">Rating:
                <select id="rating" name="rating" required>
                    <option label=" "></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </label>
            <br><br>
            <input type="submit" id="reviewSubmit" name="reviewSubmit" value="add review!">
        </form>
        {{/if}}
                <!-- Otherwise, if the user is not an admin -->
                
    </div>

    <div>
        <h3>Comments: {{game.comments.length}}</h3>
        {{#if game.comments.length}}
            {{#each game.comments}}
                <div class="commentDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="dateTimeParagraph">{{this.date}} • {{this.time}}</p>
                    <p class="contentParagraph">{{this.content}}</p>
                    {{#if ../is_admin}}
                    <form action="/games/{{../game._id}}/comment/{{this._id}}" method="POST"> 
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete {{this.username}}'s comment">
                    </form> 
                    {{else}}
                    {{#if (eq this.username ../user.username)}}
                    <form action="/games/{{../game._id}}/comment/{{this._id}}" method="POST"> 
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="delete your comment">
                    </form> 
                    {{/if}}
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            <p>No comments.</p>
        {{/if}}
        <p id="commentError" {{commentError_hidden}}>{{commentError_message}}</p>
        <form id="commentForm" action="{{game._id}}/comment" method="POST"> 
            <input type="text" id="comment" name="comment">
            <input type="submit" id="commentSubmit" name="commentSubmit" value="add comment!">
        </form> 
    </div>
</main>