<header>
    <a href="/home" class="goBack">⇦ Go to Home</a>
    <br>
    <a href="/users/" class="goBack">⇦ Go to User Browser</a>
    <h1> {{user.username}}'s profile </h1>
</header>
<main>

    <!-- If this profile belongs to the user currently logged in, display elements to change account information. -->
    {{#if is_own_profile}}
    <h3>Change account information:</h3>
    <div id="changeAccountInfo-div">

        <p id="changeUsernameError" {{changeUsernameError_hidden}}>{{changeUsernameError_message}}</p>

        <form id="changeUsernameForm" action="/users/{{user._id}}" method="POST">
            <label for="username">Change Username:</label>
            <input type="text" id="username" name="username">
            <input type="submit" id="changeUsernameSubmit" name="changeUsernameSubmit" value="Change Username">
            <input type="hidden" name='_method' value="PATCH">
        </form>

        <p id="changePasswordError" {{changePasswordError_hidden}}>{{changePasswordError_message}}</p>

        <form id="changePasswordForm" action="/users/{{user._id}}" method="POST">
            <label for="password">Change password:</label>
            <input type="password" id="password" name="password">
            <br>
            <label for="confirmPassword">Confirm new password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
            <input type="submit" id="changePasswordSubmit" name="changePasswordSubmit" value="Change Password">
            <input type="hidden" name='_method' value="PATCH">
        </form>

    </div>

    <!-- If this profile does NOT belong to the user currently logged in, display a button to follow/unfollow the user (depends on whether the user is already following this profile or not). -->
    {{else}}
    <div>
        {{#if notFriended}}
        <form action = "{{user._id}}/friends" method="POST">
            <input type="hidden" name="friendId" value="{{user._id}}">
            <input type="submit" value="Add {{user.username}}">
        </form>
        {{else}}
         <form action = "{{user._id}}/friends" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="friendId" value="{{user._id}}">
            <input type="submit" value="Remove {{user.username}}">
        </form>
        {{/if}}
    </div>
    {{/if}}

    <div>
        <h3> Following: <a href="/users/{{user._id}}/friends" > {{user.friends.length}}</a> </h3>
        <h3> Followers: <a href="/users/{{user._id}}/followers" > {{user.followers.length}}</a> </h3>
        {{#if is_own_profile}}
            <a href="/users">Find more users!</a>
        {{/if}}
    </div>

    <div>
        <h3> Games: </h3>
        {{#if user.games}}

            {{#each user.games}}
                <div class="gameDiv">
                    <h4><a href="/games/{{this.gameId}}" class="gameTitle">{{this.gameName}}</a></h4>
                    {{#each this.userGameInfo}}
                        {{#if this.value.length}}
                            <p><span class="gameFieldName">{{this.field_name}}:</span> {{this.value}}</p>
                        {{/if}}
                    {{/each}}
                    <a href="/games/{{this.gameId}}/form">Edit Game Information</a>
                    {{#if ../is_own_profile}}
                    <form action="/games/{{this.gameId}}/form" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Remove Game">
                    </form>
                    {{/if}}
                </div>
            {{/each}}

        <ul>
            {{#each user.games}}
            <li> 
                <a href="/games/{{this.gameId}}">{{this.gameName}}</a>
                <ul>
                {{#each this.userGameInfo}}
                {{#if this.value.length}}
                    <li>{{this.field_name}}: {{this.value}}</li>
                {{/if}}
                {{/each}}
                </ul>
                <a href="/games/{{this.gameId}}/form">Edit Game Information</a>

                {{#if ../is_own_profile}}
                <form action="/games/{{this.gameId}}/form" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Remove Game">
                </form>
                {{/if}}

            </li>
             {{/each}}
        </ul>
        {{#if is_own_profile}}
            <a href="/games/">Find more games!</a>
        {{/if}}
        {{else}}
        No games.
        {{#if is_own_profile}}
            <a href="/games/">Find your favorite games!</a>
        {{/if}}
        {{/if}}
    </div>

    <br>
    <div>
        <h3> Comments: </h3>
        {{#if user.comments.length}}
            {{#each user.comments}}
                <div class="commentDiv">
                    <p class="usernameParagraph">{{this.username}}</p>
                    <p class="dateTimeParagraph">{{this.date}} • {{this.time}}</p>
                    <p class="contentParagraph">{{this.content}}</p>
                    {{#if ../is_own_profile}}
                    <form action="{{../user._id}}/comment/{{this._id}}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value = "delete comment">
                    </form>
                    <form action="{{../user._id}}/comment/{{this._id}}" method="POST">
                        <input type="hidden" name="_method" value="PATCH">
                        <input type="text" class="editComment" name="editComment" value="{{this.content}}">
                        <input type="submit" value = "edit comment">
                    </form>
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            <p>No comments.</p>
        {{/if}}
        <p id="commentError" {{commentError_hidden}}>{{commentError_message}}</p>
        <form id="commentForm" action="/users/{{user._id}}" method="POST"> 
            <input type="text" id="comment" name="comment">
            <input type="submit" id="commentSubmit" name="commentSubmit" value="add comment!">
        </form> 
    </div>
</main>