<main>
    <h1> {{user.username}}'s profile </h1>
    <p> Friends: <a href="/user/{{user._id}}/friends" > {{user.friends.length}}</a> </p>
    {{#if loggedInUser}} <!-- Will be set to true if the person viewing profile is viewing their own profile-->   
    <div>
        <h3> Change user information </h3>

        <form action="/user/{{user._id}}" method="POST">
        <ul>
            <li> Username: {{user.username}}
                <label for="change_uname">Change Username?</label>
                <input type="text" id="change_uname" name="change_uname">
            </li> 
            <li> 
                <label for="change_password">Change Password?</label>
                <input type="text" id="change_password" name="change_password">
            </li> 
        </ul>
        <input type="submit" value="Make changes">
        </form>
    </div>
    {{else}}
    <div>
        <form action = "??" method="POST">
            <input type="hidden" id="userid" name="userid" value="{{user.username}}">
            <input type="submit" value="Add {{user.username}}">
        </form>
    </div>
    {{/if}}

    <br>

    <div>
        <h3> {{user.username}}'s games: </h3>
        <ul>
            {{#each user.games}}
            <li> 
                <img src="{{this.imagePath}}">
                <a href="/game/{{this._id}}">{{this.title}}</a>
            </li>
             {{/each}}
        </ul>
    </div>

    <br>

    <div>
        <h3> {{user.username}}'s profile's comments: </h3>
        {{#if user.comments.length}}
        <ul>
            {{#each user.comments}}
            <li>
                <!-- Commenter Name Here? -->
                <p>{{this.content}}</p>
                <h4>{{this.date}} | {{this.time}}</h4>
            </li>
            {{#if loggedInUser}}
            <form action="user/{{user._id}}/comment/{{this._id}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value = "delete comment">
            </form>
            {{/if}}
            
            {{/each}}
        </ul>
        {{/if}}
        <form action="user/{{user._id}}/comment" method="POST"> 
            <input type="text" id="addComment" name="addComment">
            <input type="submit" value="add comment!">
        </form> 
    </div>

</main>