<header>
  <a href="/home" class="goBack">⇦ Go to Home</a>
  <h1>User Browser</h1>
</header>
<main>
  <form name="userSearchForm" id="userSearchForm" action="/users" method="POST">
    <label for="searchBar">Search by name:</label>
    <input type="text" name="searchBar" id="searchBar">
    <br>
    <label for="gameSelect">Search by game:</label>
    <select name="gameSelect" id="gameSelect">
      <option label=" "></option>
      {{#each games}}
        <option id={{this._id}}>{{this.name}}</option>
      {{/each}}
    </select>
    <div id="allFormsContainer">
      {{#each games}}
        <div class="gameFormContainer" hidden>
          <h5 class="gameTitle">{{this.name}}</h5>
          {{#each this.form}}
            <label for="gameInput{{@../index}}-{{@index}}" class = "fieldLabel">{{this.field}}</label>
              {{#if this.options.length}}
                <select name="gameInput{{@../index}}-{{@index}}" id="gameInput{{@../index}}-{{@index}}" class = "select">
                  <option label=" " id="gameInput{{@../index}}-{{@index}}-empty"></option>
                  {{#each this.options}}
                    <option
                      id="gameInput{{@../../index}}-{{@../index}}-{{@index}}"
                      value="{{this}}"
                    >{{this}}</option>
                  {{/each}}
                </select>
              {{else if this.domain.length}}
                <br>
                <label class = "radioLabel">Less Than &rarr;
                  <input type="radio" name="operator{{@../index}}-{{@index}}" value = "Less Than">
                </label>
                <br>
                <label class = "radioLabel">Equal To &rarr;
                  <input type="radio" name="operator{{@../index}}-{{@index}}" value = "Equal To" checked>
                </label>
                <br>
                <label class = "radioLabel">Greater Than &rarr;
                  <input type="radio" name="operator{{@../index}}-{{@index}}" value = "Greater Than">
                </label>
                <br>
                <input
                  type="number"
                  name="gameInput{{@../index}}-{{@index}}"
                  id="gameInput{{@../index}}-{{@index}}"
                  class = "number"
                >
              {{else}}
                <input
                  type="text"
                  name="gameInput{{@../index}}-{{@index}}"
                  id="gameInput{{@../index}}-{{@index}}"
                  class = "text"
                >
              {{/if}}
            <br>
          {{/each}}
        </div>
      {{/each}}
    </div>
    <br>
    <button type="submit" name="submitButton" id="submitButton">Submit</button>
  </form>

  <div id="usersContainer">
    {{#each users}}
      <div class="userDiv">
        <h2><a href="/users/{{this.user._id}}">{{this.user.username}}</a></h2>
        {{#if this.following}}
          <form action = "/users/{{this.user._id}}/following" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="friendId" value="{{this.user._id}}">
            <input type="submit" value="Unfollow {{this.user.username}}">
          </form>
        {{else}}
          <form action = "/users/{{this.user._id}}/following" method="POST">
            <input type="hidden" name="friendId" value="{{this.user._id}}">
            <input type="submit" value="Follow {{this.user.username}}">
          </form>
        {{/if}}
        <ul>
          {{#each this.user.games}}
            <li>
              <a href="/games/{{this.gameId}}">{{this.gameName}}</a>
              <ul>
                {{#each this.userGameInfo}}
                {{#if this.value}}
                  <li><span>{{this.field_name}}:</span> {{this.value}}</li>
                {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
  <p id="error" hidden>No users found!</p>
</main>