<h1>User Browser</h1>
<br />
<br />

<form name="userSearchForm" id="userSearchForm" action="/user" method="POST">
  <label for="userSearch">Search for a user:</label>
  <input type="text" name="userSearch" id="userSearch" />
  <button type="submit" name="submitButton" id="submitButton">Submit</button>
</form>
<hr />
{{#each users}}
  <h2><a href="/users/{{this._id}}">{{this.username}}</a></h2>
  <ul>
    {{#each this.games}}
      <li>
        <a href="/game/{{this.gameId}}">{{this.gameName}}</a>
        <ul>
          {{#each this.userGameInfo}}
            <li>{{this.field_name}}: {{this.value}}</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
  <hr />
{{/each}}